{% extends "phonebooth/base.html" %}
{% load utils_extra %}

{% block title %}Login{% endblock %}
{% block body %}

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<h1>Login</h1>

<form autocomplete action="{{ app_path }}" method="post" id="login-form">
  {% csrf_token %}

  {% include "phonebooth/forms/form-non-field-errors-ul.html" with form=form %}

  <div class="mb-3">
    {% include "phonebooth/forms/form-field.html" with field=form.username %}
  </div>

  <div class="mb-3">
    {% include "phonebooth/forms/form-field.html" with field=form.password %}
  </div>

  <div class="submit-row">
    <button class="btn btn-primary" type="submit">Login</button>
  </div>
</form>
{% endblock %}
