[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~= 5.0"
twilio = "~= 8.0"

[dev-packages]
ipdb = "*"
ipython = "*"

[requires]
python_version = "3.11"
